<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Whatsapp</title>
</head>
<body>
        <div id="app">
    
                <div id="aside">
                    <section class="aside-top">
                        <div class="user-info">
                            <div class="user-pic">
                                <img src="img/avatar_io.jpg">
                            </div>
                            <!-- user-pic -->
                            <div class="user-name">
                               <h6>Sofia</h6>
                            </div>
                            <!-- user-name -->
                        </div>
                        <!-- user-info -->
    
                        <div class="user-nav-icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <!-- user-nav-icon -->
                    </section>
                    <!-- aside-header-section -->
                    
                    <section class="contact-alert">
                        <div class="contact-alert-icon">
                            <i class="fas fa-bell-slash fa-xl"></i>
                        </div>
                        <!-- contact-alert-icon -->
                        <div class="contact-alert-text">
                            <p class="fsize-11">Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                        <!-- contact_alert_text -->
                    </section>
                    <!-- contact-alert-section -->
    
                    <section class="contact-search">
                        <button type="button" class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" @keyup="filterContact">
                    </section>
                    <!-- contact_search-section -->
    
                    <section class="contact-list">
                        <div class="contact-list-style" v-for="(contact, index) in contacts" :class="index === selected ? 'active' : ''" @click="contactChange(index)" v-if="contact.visible" @click="active = index">
                           
                             <img :src="contact.avatar">
                            <div class="ms-3">
                                <p class="fsize-14"> {{contact.name}}  
                                    <span class="fsize-10"> {{contact.messages[contact.messages.length -1].date}} </span>
                                </p>
                                <span class="fsize-13">{{contact.messages[contact.messages.length -1].message}}</span>

                            </div>
                        </div>
                    </section>
                    <!-- contact-list-section -->
                </div>
                <!-- contact-aside -->
    
                <div id="chats-container">
                    <section class="messages-top">
    
                        <div class="messages-header">
                            <img :src="contacts[selected].avatar">
                            <div class="messages-header-user">
                                <p class="fsize-14">{{contacts[selected].name}}</p>
                                <p class="fsize-10">Ultimo accesso : {{contacts[selected].messages[contacts[selected].messages.length -1].date}}</p>
                            </div>
                        </div>
                        <!-- messages-header-->
                        <div class="messages-header-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <!-- messages-header-icons -->
                    </section>
                    <!-- messages-top-section -->
    
                    <section class="messages-body">
                        <div v-for="(contact, index) in contacts[selected].messages" v-bind:class="contact.status">
                            <span class="fsize-13 mr-3" v-if="contacts[selected].messages.length > 0">
                                {{contact.message}}
                            </span>

                            <span class="chat-option" >
                                <i class="fa-solid fa-chevron-down"  @click="toggleDropdown(index)"></i>
                            </span>

                            <div class="message_dropdown" v-if="message_dropdown.open && message_dropdown.selectedmsg == index">
                                <div>Message info</div>
                                <div class="message-delete" @click="DeleteMessage(index)">
                                    Delete Message 
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- messages-body -->
    
                    <section class="messages-footer">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="inputText" v-on:keyup.enter='enterKey'>
                        <i class="fa-solid fa-microphone"></i>
                    </section>
                    <!-- messages-footer -->
                </div>
                <!-- chats-container -->
        </div>
        <!-- root -->
    

    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script> 
    <script src="./main.js"></script>
</body>
</html>