*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 100px, #DBDBD3 100px, #DBDBD3 100%);
}

#app {
    height: 100vh;
    max-width: 1000px;
    width: 80%;
    display: flex;
    margin: 3rem auto;
}

#aside{
    width: 35%;
    height: 70vh;   
    background-color: #FAFAFA;
}

#chats-container {
    width: 65%;
    height: 70vh;
}
.user-nav-icons i {
    margin: 0 6px;
    color: darkgrey;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-pic {
    height: 40px; 
    width: 40px;
}

.user-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.user-name {
    font-size: 10px;
    margin-left: 1rem;
}

.aside-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #EAEAEA;
  border-right: 1px solid #c8d3c4;
}

.contact-alert{
    display: flex;
    align-items: center;
    background-color: #8EDAFC;
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 11px;
}

.contact-alert-text {
    display: flex;
    flex-direction: column;
    line-height: 0px;

}

.contact-alert-text p {
    line-height: 0;
}

.contact-alert-text a:hover {
    text-decoration: none;
}

.contact-alert-icon{
    background-color: #FFF;
    color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 9px 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.contact-search {
    display: flex;
    padding: 3px;
}

.contact-search button {
    background-color: #FFF;
    color: darkgrey;
    padding: 0 16px;
}

.contact-search button, input {
    border: none;
    outline: none;
    margin: 0 5px;
}

.contact-search button::selection, 
input::selection {
    outline: none;
}

.contact-search input {
    width: 100%;
}

.contact-list {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    overflow-y: scroll;
    height: calc(100% - 30px);
}

.contact-list img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.contact-list-style {
    margin: 6px 0px;
    padding: 6px;
    display: flex;
    align-items: center;
}

.contact-list-style p{
    margin: 0;
}

::placeholder{
    font-size: 11px;
    font-weight: 600;
    padding-left: 0.5rem;
}

.active {
    background-color: #E9EBEB;
}

.fsize-10{
    font-size: 10px;
    font-weight: 600;
    color: #6B7376;
}

.fsize-11{
    font-weight: 700;
    font-size: 11px;
}
.fsize-13{
    font-size: 13px;
    line-height: 0;
}

.fsize-14{
    font-weight: 600;
    font-size: 14px;
}

.contact-alert-text a{
    color: #5D7494;
    font-weight: 500;
}
.messages-top {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    align-items: center;
    padding: 3px;
}

.messages-header-icons {
    display: flex;
}

.messages-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 8px;
}
.messages-header img{
    width: 40px;
    height: 40px;
    border-radius: 50px;

}

.messages-header-user {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-size: 10px;
}

.messages-header p {
    margin-left: 10px;
    line-height: 0px;

}

.messages-header-icons i {
    margin: 0 8px;
    color: darkgrey;
}

.messages-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    background-image: url(./img/mine.jpg);
    padding: 25px 25px;
}

.sent, .received {
    padding: 5px 15px;
    border-radius: 8px;
    max-width: 250px;
    margin-bottom: 20px;
}

.received {
    align-self: flex-start;
    background-color: #FFF;
}

.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.messages-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #F3EEEA;
}

.messages-footer i {
    margin: 0 20px;
    font-weight: bold;
    color: darkgrey;
}

.messages-footer input {
    width: 100%;
    height: 60%;
    border-radius: 0.5rem;
}