*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 110px, #DBDBD3 110px, #DBDBD3 100%);
}

#app {
    height: 100vh;
    max-width: 1100px;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 2rem 0;
}

#aside{
    width: 35%;
    height: 100%;
    overflow: hidden;   
    background-color: #FAFAFA;
}

#chats-container {
    width: 65%;
    height: 100%;
    overflow: hidden;
}
.user-nav-icons i {
    margin: 0 6px;
    color: darkgrey;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-pic {
    height: 40px; 
    width: 40px;
}

.user-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.user-name {
    font-size: 10px;
    margin-left: 1rem;
}

.aside-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #EAEAEA;
  border-right: 1px solid #c8d3c4;
}

.contact-alert{
    width: 100%;
    height: 60px;
    padding: 30px 0;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.contact-alert-text {
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

.contact-alert-text p {
    line-height: 0;
}

.contact-alert-text a:hover {
    text-decoration: none;
}

.contact-alert-icon{
    width: 35px;
    height: 35px;
    padding: 9px 5px;
    margin: 0 10px;
    background-color: #FFF;
    color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.contact-search {
    display: flex;
    padding: 4px;
}

.contact-search button {
    background-color: #FFF;
    color: darkgrey;
    padding: 0 16px;
}

.contact-search button, input {
    border: none;
    outline: none;
    margin: 0 3px;
}

.contact-search button::selection, 
input::selection {
    outline: none;
}

.contact-search input {
    width: 100%;
}

.contact-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
    background-color: #FFF;
    overflow-y: scroll;
}

.contact-list img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.contact-list-style {
    margin: 6px 0px;
    padding: 6px;
    display: flex;
    align-items: center;
}

.contact-list-style p{
    margin: 0;
}

::placeholder{
    font-size: 11px;
    font-weight: 600;
}

.active {
    background-color: #E9EBEB;
}

.fsize-10{
    font-size: 10px;
    font-weight: 600;
    color: #6B7376;
}

.fsize-11{
    font-weight: 700;
    font-size: 11px;
}
.fsize-13{
    font-size: 13px;
    line-height: 0;
}

.fsize-14{
    font-weight: 600;
    font-size: 14px;
}

.contact-alert-text a{
    color: #5D7494;
    font-weight: 500;
}
.messages-top {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
    align-items: center;
    padding: 3px;
}

.messages-header-icons {
    display: flex;
    padding-right: 0.5rem;
}

.messages-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 8px;
}
.messages-header img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.messages-header-user {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-size: 10px;
}

.messages-header p {
    margin-left: 10px;
    line-height: 0px;
}

.messages-header-icons i {
    margin: 0 8px;
    color: darkgrey;
}

.messages-body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 116px);
    overflow-y: scroll;
    background-image: url(./img/mine.jpg);
    padding: 25px 25px;
}

.sent, .received {
    padding: 7px;
    padding-left: 16px;
    padding-right: 30px;
    max-width: 260px;
    margin-bottom: 20px;
}
.sent .mr-3{
    margin-right: 35px;
}
.sent{
    border-radius: 17px 17px 0px 17px;
    position: relative;
}
.received{
    border-radius: 0px 17px 17px 17px;
}
.received {
    align-self: flex-start;
    background-color: #FFF;
}

.sent {
    align-self: flex-end;
    background-color: #D5F9BA;
}

.chat-option{
    position: absolute;
    top: 0.3rem;
    right: 0.8rem;
}
.message_dropdown{
    width: 210px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 24px;
    border-radius: 5px;
    line-height: 30px;
}

.messages-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #F3EEEA;
}

.messages-footer i {
    margin: 0 20px;
    color: #726f6f;
}

.messages-footer input {
    width: 100%;
    height: 60%;
    padding-left: 0.5rem;
    border-radius: 6px;
}